<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ChatBubble</key>
	<dict>
		<key>ReceiveStretchablePoint</key>
		<string>{36,24}</string>
		<key>SendStretchablePoint</key>
		<string>{36,24}</string>
	</dict>
	<key>TabBarButton1</key>
	<dict>
		<key>ShowsTitle</key>
		<true/>
		<key>TabBarIconCenter</key>
		<string>{40,16.5}</string>
		<key>TabBarTitleCenter</key>
		<string>{40,41}</string>
		<key>UnreadIconCenter</key>
		<string>{57,13}</string>
		<key>UnreadIconCenterHighlighted</key>
		<string>{57,13}</string>
	</dict>
	<key>TabBarButton2</key>
	<dict>
		<key>ShowsTitle</key>
		<true/>
		<key>TabBarIconCenter</key>
		<string>{40,16.5}</string>
		<key>TabBarTitleCenter</key>
		<string>{40,41}</string>
		<key>UnreadIconCenter</key>
		<string>{57,13}</string>
		<key>UnreadIconCenterHighlighted</key>
		<string>{57,13}</string>
	</dict>
	<key>TabBarButton3</key>
	<dict>
		<key>ShowsTitle</key>
		<true/>
		<key>TabBarIconCenter</key>
		<string>{40,16.5}</string>
		<key>TabBarTitleCenter</key>
		<string>{40,41}</string>
		<key>UnreadIconCenter</key>
		<string>{57,13}</string>
		<key>UnreadIconCenterHighlighted</key>
		<string>{57,13}</string>
	</dict>
	<key>TabBarButton4</key>
	<dict>
		<key>ShowsTitle</key>
		<true/>
		<key>TabBarIconCenter</key>
		<string>{40,16.5}</string>
		<key>TabBarTitleCenter</key>
		<string>{40,41}</string>
		<key>UnreadIconCenter</key>
		<string>{57,13}</string>
		<key>UnreadIconCenterHighlighted</key>
		<string>{57,13}</string>
	</dict>
	<key>ColorTable</key>
	<dict>
		<key>kNavigationBarTitleColor</key>
		<string>0xff,0xff,0xff,1</string>
		<key>kNavigationBarTitleShadowColor</key>
		<string>0,0,0,0.3</string>
		<key>kNavigationBarButtonTitleColorNoraml</key>
		<string>0xff,0xff,0xff,1</string>
		<key>kNavigationBarButtonTitleColorHighlighted</key>
		<string>0xff,0xff,0xff,1</string>
		<key>kNavigationBarButtonTitleColorDisabled</key>
		<string>0xff,0xff,0xff,0.6</string>
		<key>kNavigationBarButtonTitleColorSelected</key>
		<string>0xff,0xff,0xff,1</string>
		<key>kTabBarItemTitleColorNormal</key>
		<string>0xff,0xff,0xff,0.2</string>
		<key>kTabBarItemTitleColorHighlighted</key>
		<string>0xff,0xff,0xff,1</string>
		<key>kSearchBarTextColor</key>
		<string>0,0,0,1</string>
		<key>kSearchBarPlaceholderTextColor</key>
		<string>0x7f,0x7f,0x7f,1</string>
		<key>kSearchBarCancelButtonTitleColorNormal</key>
		<string>0x7f,0x7f,0x7f,1</string>
		<key>kSearchBarCancelButtonTitleColorHighlighted</key>
		<string>0x7f,0x7f,0x7f,1</string>
		<key>kTableViewCellTextLabelTextColorNormal</key>
		<string>0x19,0x2b,0x3a,1</string>
		<key>kTableViewCellTextLabelTextColorHighlighted</key>
		<string>0xff,0xff,0xff,1</string>
		<key>kTableViewCellDetailTextLabelTextColorNormal</key>
		<string>0x4c,0x56,0x66,1</string>
		<key>kTableViewCellDetailTextLabelTextColorHighlighted</key>
		<string>0xff,0xff,0xff,1</string>
		<key>kTableViewCellDetailTextLabelTextColorDisabled</key>
		<string>0x77,0x77,0x77,0.5</string>
		<key>kTableViewCellTimeColorNormal</key>
		<string>0x64,0x6c,0x7a,1</string>
		<key>kTableViewCellTimeColorHighlighted</key>
		<string>0xff,0xff,0xff,1</string>
		<key>kTableViewCellVipNicknameColorNormal</key>
		<string>0xff,0,0,1</string>
		<key>kTableViewCellVipNicknameColorHighlighted</key>
		<string>0xff,0xff,0xff,1</string>
		<key>kTableViewHeaderTitleColor</key>
		<string>0x51,0x5d,0x64,1</string>
		<key>kTableViewHeaderTitleShadowColor</key>
		<string>0,0,0,0</string>
		<key>kAioTimeLabelTextColor</key>
		<string>0xff,0xff,0xff,1</string>
		<key>kAioTextFieldTextColor</key>
		<string>0,0,0,1</string>
		<key>kAioReceiveMessageTextColor</key>
		<string>0,0,0,1</string>
		<key>kAioSendMessageTextColor</key>
		<string>0,0,0,1</string>
		<key>kAioRichPanelBackgroundColor</key>
		<string>0xce,0xe1,0xf3,1</string>
		<key>kNearbyFriendLbsInfomationTextColorNormal</key>
		<string>0x71,0x75,0x7e,1</string>
		<key>kNearbyFriendLbsInfomationTextColorHighlighted</key>
		<string>0xff,0xff,0xff,1</string>
		<key>kNearbyFriendSigatureTextColorNormal</key>
		<string>0x71,0x75,0x7e,1</string>
		<key>kNearbyFriendSigatureTextColorHighlighted</key>
		<string>0xff,0xff,0xff,1</string>
		<key>kRefreshControlShapeFillColor</key>
		<string>0xad,0xc8,0xdf,1</string>
		<key>kRefreshControlShapeStrokeColor</key>
		<string>0x56,0x79,0x97,1</string>
		<key>kRefreshControlArrowFillColor</key>
		<string>0xff,0xff,0xff,1</string>
		<key>kStatusBarTextColor</key>
		<string>0xb8,0xb8,0xb8,1</string>
		<key>kUrlTextColorNormal</key>
		<string>0x32,0x4f,0x85,1</string>
		<key>kUrlTextColorHighlighted</key>
		<string>0xff,0xff,0xff,1</string>
		<key>kUrlTextShadowColor</key>
		<string>0xff,0xff,0xff,1</string>
		<key>kTableFootViewTextColor</key>
		<string>0x5a,0x65,0x72,1</string>
		<key>kRefreshTableHeaderTitleColor</key>
		<string>0x64,0x6c,0x7a,1</string>
		<key>kRefreshTableHeaderDateTimeColor</key>
		<string>0x64,0x6c,0x7a,1</string>
		<key>kFlowStatisticsMonthTextColor</key>
		<string>0x00,0x40,0x80,1</string>
	</dict>
	<key>ThemeVersion</key>
	<string>2.1.8</string>
</dict>
</plist>
