<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Author</key>
		<string>xiaoguo</string>
		<key>BundleId</key>
		<string>night</string>
		<key>DownloadUrl</key>
		<string>http://dl.url.cn/msoft/mobileQQ_theme/theme_package_ios/com.skin.night.1.0.7.zip</string>
		<key>Homepage</key>
		<string></string>
		<key>Md5</key>
		<data></data>
		<key>Size</key>
		<integer>1487728</integer>
		<key>ThemeId</key>
		<string>10000009</string>
		<key>ThumbUrl</key>
		<string>http://appimg1.3g.qq.com/msoft/mobileQQ_theme/ios_theme_preview/night_IOS@2x.jpg</string>
		<key>Title</key>
		<string>夜夜繁星</string>
		<key>Version</key>
		<string>1.0.7</string>
	</dict>
	<dict>
		<key>Author</key>
		<string>wendy</string>
		<key>BundleId</key>
		<string>white</string>
		<key>DownloadUrl</key>
		<string>http://dl.url.cn/msoft/mobileQQ_theme/theme_package_ios/com.skin.white45.1.0.7.zip</string>
		<key>Homepage</key>
		<string></string>
		<key>Md5</key>
		<data></data>
		<key>Size</key>
		<integer>302296</integer>
		<key>ThemeId</key>
		<string>10000010</string>
		<key>ThumbUrl</key>
		<string>http://appimg1.3g.qq.com/msoft/mobileQQ_theme/ios_theme_preview/theme_white@2x.png</string>
		<key>Title</key>
		<string>白色简约</string>
		<key>Version</key>
		<string>1.0.7</string>
	</dict>
	<dict>
		<key>Author</key>
		<string>cp</string>
		<key>BundleId</key>
		<string>Smurfs</string>
		<key>DownloadUrl</key>
		<string>http://dl.url.cn/msoft/mobileQQ_theme/theme_package_ios/com.skin.Smurfs.1.0.3.zip</string>
		<key>Homepage</key>
		<string></string>
		<key>Md5</key>
		<data></data>
		<key>Size</key>
		<integer>1710231</integer>
		<key>ThemeId</key>
		<string>10000007</string>
		<key>ThumbUrl</key>
		<string>http://appimg1.3g.qq.com/msoft/mobileQQ_theme/ios_theme_preview/theme_smurfs2_smurfs@2x.jpg</string>
		<key>Title</key>
		<string>蓝精灵</string>
		<key>Version</key>
		<string>1.0.3</string>
	</dict>
	<dict>
		<key>Author</key>
		<string>cp</string>
		<key>BundleId</key>
		<string>Gargamel</string>
		<key>DownloadUrl</key>
		<string>http://dl.url.cn/msoft/mobileQQ_theme/theme_package_ios/com.skin.Gargamel.1.0.5.zip</string>
		<key>Homepage</key>
		<string></string>
		<key>Md5</key>
		<data></data>
		<key>Size</key>
		<integer>1185697</integer>
		<key>ThemeId</key>
		<string>10000008</string>
		<key>ThumbUrl</key>
		<string>http://appimg1.3g.qq.com/msoft/mobileQQ_theme/ios_theme_preview/theme_smurfs2_gargamel@2x.jpg</string>
		<key>Title</key>
		<string>格格巫</string>
		<key>Version</key>
		<string>1.0.5</string>
	</dict>
	<dict>
		<key>Author</key>
		<string>cp</string>
		<key>BundleId</key>
		<string>jurassic</string>
		<key>DownloadUrl</key>
		<string>http://dl.url.cn/msoft/mobileQQ_theme/theme_package_ios/com.skin.jurassic.1.0.4.zip</string>
		<key>Homepage</key>
		<string></string>
		<key>Md5</key>
		<data></data>
		<key>Size</key>
		<integer>943337</integer>
		<key>ThemeId</key>
		<string>10000006</string>
		<key>ThumbUrl</key>
		<string>http://appimg1.3g.qq.com/msoft/mobileQQ_theme/ios_theme_preview/theme_jurassic_v2@2x.jpg</string>
		<key>Title</key>
		<string>侏罗纪公园</string>
		<key>Version</key>
		<string>1.0.4</string>
	</dict>
	<dict>
		<key>Author</key>
		<string>fido</string>
		<key>BundleId</key>
		<string>space</string>
		<key>DownloadUrl</key>
		<string>http://dl.url.cn/msoft/mobileQQ_theme/theme_package_ios/com.skin.space.2.1.8.zip</string>
		<key>Homepage</key>
		<string></string>
		<key>Md5</key>
		<data></data>
		<key>Size</key>
		<integer>837223</integer>
		<key>ThemeId</key>
		<string>10000005</string>
		<key>ThumbUrl</key>
		<string>http://appimg1.3g.qq.com/msoft/mobileQQ_theme/ios_theme_preview/theme_ufo@2x.jpg</string>
		<key>Title</key>
		<string>星际旅行</string>
		<key>Version</key>
		<string>2.1.8</string>
	</dict>
	<dict>
		<key>Author</key>
		<string>andraw</string>
		<key>BundleId</key>
		<string>golf</string>
		<key>DownloadUrl</key>
		<string>http://dl.url.cn/msoft/mobileQQ_theme/theme_package_ios/com.skin.golf.2.1.8.zip</string>
		<key>Homepage</key>
		<string></string>
		<key>Md5</key>
		<data></data>
		<key>Size</key>
		<integer>1705249</integer>
		<key>ThemeId</key>
		<string>10000004</string>
		<key>ThumbUrl</key>
		<string>http://appimg1.3g.qq.com/msoft/mobileQQ_theme/ios_theme_preview/theme_golf_2.1@2x.jpg</string>
		<key>Title</key>
		<string>一杆中的</string>
		<key>Version</key>
		<string>2.1.8</string>
	</dict>
	<dict>
		<key>Author</key>
		<string>pada</string>
		<key>BundleId</key>
		<string>pink</string>
		<key>DownloadUrl</key>
		<string>http://dl.url.cn/msoft/mobileQQ_theme/theme_package_ios/com.skin.pink.2.1.8.zip</string>
		<key>Homepage</key>
		<string>http://user.qzone.qq.com/355923518/infocenter</string>
		<key>Md5</key>
		<data></data>
		<key>Size</key>
		<integer>369303</integer>
		<key>ThemeId</key>
		<string>10000003</string>
		<key>ThumbUrl</key>
		<string>http://appimg1.3g.qq.com/msoft/mobileQQ_theme/ios_theme_preview/theme_duck_2.0@2x.jpg</string>
		<key>Title</key>
		<string>粉寇年华</string>
		<key>Version</key>
		<string>2.1.8</string>
	</dict>
	<dict>
		<key>Author</key>
		<string>feelingli</string>
		<key>BundleId</key>
		<string>bluesea</string>
		<key>DownloadUrl</key>
		<string>http://dl.url.cn/msoft/mobileQQ_theme/theme_package_ios/com.skin.bluesea.2.1.8.zip</string>
		<key>Homepage</key>
		<string></string>
		<key>Md5</key>
		<data></data>
		<key>Size</key>
		<integer>563487</integer>
		<key>ThemeId</key>
		<string>10000002</string>
		<key>ThumbUrl</key>
		<string>http://appimg1.3g.qq.com/msoft/mobileQQ_theme/ios_theme_preview/theme_sea_2.0@2x.jpg</string>
		<key>Title</key>
		<string>深海奇遇</string>
		<key>Version</key>
		<string>2.1.8</string>
	</dict>
</array>
</plist>
